body {
  background-color: beige;
}

.bbb {
  height: 300px;
}

.bg-container {
  height: 300px;
}

.width {
  width: 25%;
  box-sizing: border-box;
}

.bg {
  margin-top: 50px;
  height: 400px;
  bottom: 150px;
}

.wrapper {
  transform: translate(-40px, 0px);
}

.hairS {
  z-index: 0;
  left: 100px;
  bottom: 0px;
  height: 300px;
  width: 300px;
}

.neck {
  bottom: 0;
  left: 100px;
  height: 300px;
  width: 300px;
}

.eye {
  bottom: 60px;
  left: 150px;
  height: 200px;
}

.nose {
  bottom: 46px;
  left: 170px;
  height: 200px;
}

.mouth {
  bottom: 48px;
  left: 170px;
  height: 200px;
}

.leg {
  bottom: 0;
  left: 110px;
  height: 330px;
  width: 300px;
}

.ear {
  bottom: 0px;
  left: 100px;
  height: 300px;
  z-index: -5;
}

.acc {
  bottom: 0px;
  left: 100px;
  height: 300px;
}

/*     buttons-containers      */

.buttons-containers {
  margin-top: 200px;
}

/*------------------*/

.buttons {
  margin-top: 400px;
}

@media (max-width: 1023px) {
  .buttons {
    margin-top: 180px;
  }
}
